#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nodes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
}

.node {
  border: 1px solid #555;
  border-radius: 8px;
  padding: 1rem;
  background-color: #2a2a2a;
  text-align: left;
  flex: 0 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.node h3 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #61dafbaa;
}

.node p {
  margin: 0.5rem 0;
  word-break: break-all;
}

.node-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.node-actions-primary,
.node-actions-secondary {
  display: flex;
  gap: 0.5rem;
}

.node-actions-primary button {
  flex-grow: 1;
}

.node-actions-secondary button {
  flex-grow: 1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.create-btn {
  background-color: #646cff;
  color: white;
}

.delete-btn {
  background-color: #ff4d4d;
  color: white;
}

.delete-btn:hover {
  border-color: #ff1a1a;
}
